<ion-view view-title="Detalles del libro">
  <ion-content class="padding">
    <div class="list">
			<a class="item book item-thumbnail-left" href="#">
	      <img ng-src="img/book-icon.png" ng-if="selectedBook().pic_url == null">
	      <img ng-src="{{ selectedBook().pic_url }}" ng-if="selectedBook().pic_url != null">
	      <h2>{{ selectedBook().title }} - <i>{{ selectedBook().published_date }}</i></h2>
				<h3><span class="italic">{{ selectedBook().publisher }}</span></h3>
				<p><span class="italic">{{ selectedBook().authors }}</span></p>
	    </a>
    </div>
		<div class="card" ng-repeat="print in prints()" ng-click="closeDeal(print)">
			<a class="item item-avatar" href="#">
	      <img ng-src="img/user-icon.jpg" ng-if="print.user.avatar_url == null">
	      <img ng-src="{{ print.user.avatar_url }}" ng-if="print.user.avatar_url != null">
	      <h2>{{ print.user.first_name.concat(' ').concat(print.user.last_name) }}</h2>
				<p>Publicado el {{ print.published }}</p>
	    </a>
		  <div class="item item-text-wrap">
				<div class="row">
				  <div class="col">{{ humanizedStateFor(print) }}</div>
				</div>
		    <div class="row">
					<div class="col">
						<p><b>Detalles adicionales:</b></p>
		    		<p>{{ print.description }}</p>
					</div>
		    </div>
		  </div>
			<div class="item item-button-right">
		    Contactar para reservar
		    <button class="button button-positive">
		      <i class="icon ion-email"></i>
		    </button>
		  </div>
		</div>
  </ion-content>
</ion-view>
