<div class="loading-indicator" ng-show="systemBusy()">
	<ion-spinner></ion-spinner>
</div>

<ion-view hide-nav-bar="true">
  <ion-content class="padding">
		<div class="logo">
      <img class="full-image" src="img/cedros-logo.png">
		</div>
		<div class="list">
      <button class="button button-block button-positive" ng-click="fbLogin()">
        Iniciar con Facebook
      </button>
			<div class="row">
				<div class="col">
					<p class="centered"><a href="#/login" class="subdued">¿No tienes Facebook? Inicia usando tu correo</a></p>
				</div>
			</div>
		</div>
  </ion-content>
</ion-view>
