<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Guardar foto</h1>
    <div class="button" ng-click="dismissImageSelectModal()"><span class="icon ion-close"></span></div>
  </ion-header-bar>
  <ion-content class="image-change">
	  <div class="list card post">
			<div class="item item-body">
	    	<button class="button button-block button-light" ng-click="changePicture()">
	      	Cambiar foto
	    	</button>
			</div>
	    <div class="item item-body">
				<img ng-src="{{ image.url }}" ng-hide="image == null || image.url == null" class="img-responsive">
				<img ng-src="img/book-icon.png" ng-show="image == null || image.url == null" class="img-responsive">
				<br/>
		    <button class="button button-block button-positive" ng-click="uploadNewAvatar()" ng-hide="systemBusy()">
		      Guardar
		    </button>
				<div class="centered centered-content" ng-show="systemBusy()">
					<ion-spinner></ion-spinner><br/>
				</div>
				<br/>
			</div>
		</div>
  </ion-content>
</ion-modal-view>