<div class="loading-indicator" ng-show="systemBusy()">
	<ion-spinner></ion-spinner>
</div>

<ion-view hide-nav-bar="true">
  <ion-content class="padding">
		<div class="logo">
      <img class="full-image" src="img/cedros-logo.png">
		</div>
		<div class="list">
		  <label class="item item-input">
		    <input type="email" ng-model="data.login" placeholder="Nombre de usuario o Email">
		  </label>
		  <label class="item item-input">
		    <input type="password" ng-model="data.password" placeholder="Contraseña">
		  </label>
      <button class="button button-block button-positive" ng-click="login()">
        Iniciar Sesion
      </button>
			<div class="row">
				<div class="col"><p class="centered"><a href="#/sign-up" nav-transition="none" class="subdued">¿No tienes cuenta aún? Obtén una, es gratis!</a></p></div>
			</div>
		</div>
  </ion-content>
</ion-view>
