<ion-modal-view>

  <ion-header-bar>
    <h1 class="title">Subir libro</h1>
    <div class="button button-clear" ng-click="discardPost()"><span class="icon ion-close"></span></div>
  </ion-header-bar>
  <ion-content class="new-post">
    <div class="list card post">
	    <a class="item item-thumbnail-left" href="#">
	      <img ng-src="{{ currentBookData.imageLinks.thumbnail }}">
	      <h2>{{ currentBookData.title }}</h2>
				<h3><span class="italic">{{ currentBookData.subtitle }}</span></h3>
	      <p>{{ currentBookData.publisher }}, {{ currentBookData.publishedDate }}</p>
				<p><span class="italic">{{ authors() }}</span></p>
	    </a>
			<div class="item item-divider">
				Agrega detalles para el intercambio de tu ejemplar:
			</div>
      <div class="item item-body">
				<div class="list">
					<label class="item item-input item-stacked-label">
				    <span class="input-label"># de unidades</span>
				    <input type="number" ng-model="newBookData.print.units">
					</label>
				  <label class="item item-input item-select">
				    <div class="input-label">
				      Condiciones
				    </div>
				    <select ng-model="newBookData.print.conditions">
				      <option value="excellent">Como nuevo</option>
				      <option value="good" selected>Buena</option>
				      <option value="regular">Regular</option>
				      <option value="bad">Mala</option>
				    </select>
				  </label>
					<label class="item item-input item-stacked-label">
				    <span class="input-label">Descripción</span>
				    <textarea placeholder="Opcional" ng-model="newBookData.print.description"></textarea>
					</label>
				</div>
				<br/>
		    <button class="button button-block button-positive" ng-click="submitPost()" ng-hide="systemBusy()">
		      Publicar
		    </button>
				<div class="centered centered-content" ng-show="systemBusy()">
					<ion-spinner></ion-spinner><br/>
				</div>
				<br/>
      </div>
    </div>
  </ion-content>
</ion-modal-view>