<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Ingresa un ISBN</h1>
    <div class="button button-clear" ng-click="dismissManualISBNModal()"><span class="icon ion-close"></span></div>
  </ion-header-bar>
  <ion-content class="isbn-manual">
    <div class="list card post">
			<label class="item item-input item-stacked-label">
			  <span class="input-label">ISBN del ejemplar</span>
			  <input type="text" placeholder="10 o 13 caracteres númericos" ng-model="newBookData.book.isbn">
			</label>
			<br/>
	    <button class="button button-block button-positive" ng-click="clickedOnManualLookup()" ng-hide="systemBusy()">
	      Buscar
	    </button>
			<div class="centered centered-content" ng-show="systemBusy()">
				<ion-spinner></ion-spinner><br/>
			</div>
			<br/>
    </div>
		
  </ion-content>
</ion-modal-view>