<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Cambios a tu perfil</h1>
    <div class="button" ng-click="dismissProfileSettings()"><span class="icon ion-close"></span></div>
  </ion-header-bar>
  <ion-content class="profile-settings">
	  <div class="list card post">
			<div class="item item-body">
	    	<button class="button button-block button-light" ng-click="changePicture()">
	      	Cambiar foto
	    	</button>
			</div>
	    <div class="item item-body">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Nombre</span>
			    <input type="text" ng-model="user.first_name" placeholder="José">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Apellido</span>
			    <input type="text" ng-model="user.last_name" placeholder="Saavedra">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">E-mail</span>
			    <input type="text" ng-model="user.email" placeholder="jose@ejemplo.com">
			  </label>
				
				<label class="item item-input item-stacked-label">
			    <span class="input-label">Bio</span>
			    <textarea ng-model="user.bio"></textarea>
			  </label>
				
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Contraseña</span>
			    <input type="password" placeholder="Escribe en este campo si necesitas cambiar tu contraseña" ng-model="user.password">
			  </label>
				<br/>
		    <button class="button button-block button-positive" ng-click="updateProfile()" ng-hide="systemBusy()">
		      Guardar
		    </button>
				<div class="centered centered-content" ng-show="systemBusy()">
					<ion-spinner></ion-spinner><br/>
				</div>
				<br/>
			</div>
		</div>
  </ion-content>
</ion-modal-view>