<ion-view view-title="Tu Perfil" hide-back-button="true">
	  <ion-nav-buttons side="right">
	    <button class="button button-small button-clear" ng-click="displayProfileSettings()" ng-show="userHasSession()">
	      <i class="icon ion-settings"></i>
	    </button>
	  </ion-nav-buttons>
  <ion-content>
		<div ng-if="userHasSession()">
	    <div class="list card">
	      <div class="item centered">
					<div>
	        	<img class="avatar-image-profile-dimension" ng-src="{{ user.avatar_url }}" ng-show="user.avatar_url != null" />
	        	<img class="avatar-image-profile-dimension" src="img/user-icon.jpg" ng-show="user.avatar_url == null" />
					</div>
					
	        <h1>{{ currentUserName() }}</h1>
	        <h3>{{ user.email }}</h3>
					<p>{{ user.bio || "Sin bio aún" }}</p>
	      </div>
			
				<div ng-if="userHasSession()">
		    	<button class="button button-block button-positive" ng-click="closeSession()">
		      	Cerrar sesión
		    	</button>
				</div>
	    </div>
		</div>
		<div ng-if="!userHasSession()">
			<div class="list card">
				<div class="item centered">
					<p>Necesitas tener una cuenta para tener un perfil de usuario</p>
					<br/>
		    	<button class="button button-block button-positive" ng-click="goToLogin()">
		      	Obtén una cuenta gratuita
		    	</button>
				</div>
			</div>
		</div>
  </ion-content>
</ion-view>
