<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Reserva del libro</h1>
    <div class="button button-clear" ng-click="dismissReserveModal()"><span class="icon ion-close"></span></div>
  </ion-header-bar>
  <ion-content class="reserve-book">
		
		<div class="card">
			<div class="row">
				<div class="col">
					<p class="centered">
	        	<img class="book-image-dimension" ng-show="selectedBook().pic_url ==  null" src="img/book-icon.png">
	        	<img class="book-image-dimension" src="{{ selectedBook().pic_url }}" ng-hide="selectedBook().pic_url == null">
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
	        <h2 class="headline">{{ selectedBook().title }}</h1>
				</div>
			</div>
			<div class="row">
				<div class="col">
	        <h2 class="headline">$ {{ currentReserve.price }} MXN</h1>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="row">
				<div class="col">
	        <h1 class="headline">Ponte en contacto con</h1>
					<p class="centered"><i>{{ reserveUser() }}</i></p>
				</div>
			</div>
			<div class="list">
				<label class="item item-input item-stacked-label">
			    <span class="input-label">Mandale un mensaje</span>
			    <textarea ng-model="currentReserve.message" placeholder="Hola! Tengo interés en comprarte este libro. Me gustaría tenerlo en 3 dias"></textarea>
				</label>
			</div>
			<br/>
	    <button class="button button-block button-positive" ng-click="sendReserveRequest()" ng-hide="systemBusy()">
	      Enviar solicitud de reserva
	    </button>
			<div class="centered centered-content" ng-show="systemBusy()">
				<ion-spinner></ion-spinner><br/>
			</div>
			<br/>
		</div>
    
  </ion-content>
</ion-modal-view>