<ion-view view-title="Reservas" hide-back-button="true">
  <ion-content class="padding">
		<div class="list card post-list">
		  <div class="item item-divider">
		    Compras
		  </div>
	    <a class="item item-thumbnail-left" href="#/tab/reserves/{{ purchase.id }}" ng-repeat="purchase in reserves.purchases" ng-if="reserves.purchases.length == 0">
	      <img ng-src="img/book-icon.png" ng-if="purchase.print.book.pic_url == null">
	      <img ng-src="{{ purchase.print.book.pic_url }}" ng-if="purchase.print.book.pic_url != null">
	      <h2>{{ purchase.print.book.title }}</h2>
	      <p><b>Por {{ humanUserIdentity(purchase.print.user) }}</b></p>
				<p><i>Última interacción {{ sell.last_message }}</i></p>
	    </a>
			<a class="item" href="#" ng-if="reserves.purchases.length == 0">
				No hay reservas de compra que mostrar
			</a>
		  <div class="item item-divider">
		    Ventas
		  </div>
	    <a class="item item-thumbnail-left" href="#/tab/reserves/{{ sell.id }}" ng-repeat="sell in reserves.sells" ng-if="reserves.sells.length > 0">
	      <img ng-src="img/book-icon.png" ng-if="sell.print.book.pic_url == null">
	      <img ng-src="{{ sell.print.book.pic_url }}" ng-if="sell.print.book.pic_url != null">
	      <h2>{{ sell.print.book.title }}</h2>
	      <p><b>Por {{ humanUserIdentity(sell.print.user) }}</b></p>
				<p><i>Última interacción {{ sell.last_message }}</i></p>
	    </a>
			<a class="item" href="#" ng-if="reserves.sells.length == 0">
				No hay reservas de venta que mostrar
			</a>
		</div>
  </ion-content>
</ion-view>