<ion-view view-title="Negociación de la Reserva">
  <ion-content class="padding">
		<div class="list card">
	    <a class="item item-thumbnail-left" href="#">
	      <img ng-src="img/book-icon.png" ng-if="reserve.print.book.pic_url == null">
	      <img ng-src="{{ reserve.print.book.pic_url }}" ng-if="reserve.print.book.pic_url != null">
	      <h2>{{ reserve.print.book.title }}</h2>
	      <h3>Publicado por {{ humanUserIdentity(reserve.print.user) }}</h3>
	    </a>
		</div>
		<div class="list card" ng-repeat="message in reserve.messages">
		  <div class="item item-avatar">
	      <img ng-src="img/user-icon.jpg" ng-if="message.user.avatar_url == null">
	      <img ng-src="{{ message.user.avatar_url }}" ng-if="message.user.avatar_url != null">
		    <h2>{{ message.user.id == $localstorage.getObject('user').id ? "Tu" : humanUserIdentity(message.user) }}</h2>
		    <p>Enviado el {{ message.created_at }}</p>
		  </div>
		  <div class="item item-body item-text-wrap">
	      {{ message.content }}
		  </div>
		</div>

		<div class="list">
		  <label class="item item-input">
		    <textarea ng-model="reserve.message" placeholder="Escribe un comentario"></textarea>
		  </label>
			<button class="button button-block button-positive" ng-click="submitMessage()">
			  Enviar
			</button>
		</div>
  </ion-content>
</ion-view>