<div class="loading-indicator" ng-show="systemBusy()">
	<ion-spinner></ion-spinner>
</div>
<ion-view hide-nav-bar="true">
  <ion-content class="padding">
		<div class="logo">
      <img class="full-image" src="img/cedros-logo.png">
		</div>
		<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Nombre</span>
		    <input type="text" placeholder="José"  ng-model="data.firstName">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Apellido</span>
		    <input type="text" placeholder="Saavedra"  ng-model="data.lastName">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">E-mail</span>
		    <input type="email" placeholder="jose@ejemplo.com" ng-model="data.email">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Contraseña</span>
		    <input type="password" ng-model="data.password">
		  </label>
      <button class="button button-block button-positive" ng-click="signup()">
        Crear cuenta
      </button>
			<div class="row">
			  <div class="col"><p class="centered"><a href="#/login" class="subdued">¿Ya tienes una cuenta?</a></p></div>
				<div class="col"><p class="centered"><b><a href="#/tab/home" nav-transition="none" class="subdued">No registrarme ahora</a></b></p></div>
			</div>
      <!--<button class="button button-block button-positive" ng-click="fbLogin()">
        Login with Facebook
      </button>-->
		</div>
  </ion-content>
</ion-view>
