<ion-view view-title="Principal" hide-nav-bar="false">
  <ion-nav-buttons side="right">
    <button class="button button-small button-clear" ng-click="scanBarcode()">
      <i class="icon ion-plus"></i>
    </button>
  </ion-nav-buttons>
	
  <ion-content class="padding">
		<div class="list list-inset">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Busca por autor, título o casa editorial" ng-model="search.term" ng-change="searchItems()">
		  </label>
		</div>
    <ion-list>
			<ion-item collection-repeat="book in books()" ng-click="showBookDetails(book)" class="book item-thumbnail-left">
	      <img ng-src="img/book-icon.png" ng-if="book.pic_url == null">
	      <img ng-src="{{ book.pic_url }}" ng-if="book.pic_url != null">
	      <h2>{{ book.title }} - <i>{{ book.published_date }}</i></h2>
				<h3><span class="italic">{{ book.publisher }}</span></h3>
				<p><span class="italic">{{ book.authors }}</span></p>
				<p>{{ availabilityFor(book) }}</p>
			</ion-item>
    </ion-list>
		<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
