/* Empty. Add your own CSS if you like */

/* Alignment styling */

.centered {
  text-align: center;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-align {
	text-align: right;
}

.emphasized {
	border-radius: 5px;
	font-weight: bold;
	font-size: 15px;
	padding: 5px 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	opacity: 0.8;
	border: 3px solid;
}

.very-good-condition {
	border-color: #1C7D10;
	color: #1C7D10 !important;
}

.good-condition {
	border-color: #617D19;
	color: #617D19 !important;
}

.regular-condition {
	border-color: #7D6C19;
	color: #7D6C19 !important;
}

.bad-condition {
	border-color: #7D6C19;
	color: #7D6C19 !important;
}

.book-image-dimension {
	width: 150px;
	height: 150px;
}

.avatar-image-dimension {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

.avatar-image-profile-dimension {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.headline {
  font-weight: bold;
  font-size: 18px !important;
  text-align: center;
}

.post-info div {
  line-height: 20px;
  vertical-align: middle !important;
}

.post-info .col p {
  display: inline-block; line-height: 40px; vertical-align: top !important; margin: 0px; padding: 0px
}

.mini {
  font-size: 14px !important;
  font-weight: bold;
}

.new-post textarea {
  font-size: 16px !important;
  min-height: 80px !important;
}

.img-slide {
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
  height: 400px !important;
  background-color: gray;
}

.italic {
	font-style: italic;
}

.loading-indicator {
	position: absolute;
	z-index: 99999 !important;
	background-color: rgba(1,1,1,0.7);
	width: 100%;
	height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-responsive {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	max-width: 100%;
	height: auto;
}